{% if page.url == "/" %}
  <span>Home</span>
{% else %}
  <a href="{{ site.baseurl }}/">Home</a>
  {% if page.parent and page.parent != "/" %}
    {% assign parent_item = site.pages | where: "permalink", page.parent | first %}
    {% if parent_item %}
      &raquo; <a href="{{ site.baseurl }}{{ parent_item.url }}">{{ parent_item.title }}</a>
    {% else %}
      &raquo; <a href="{{ site.baseurl }}{{ page.parent }}">{{ page.parent }}</a>
    {% endif %}
  {% endif %}
  {% if page.title %}
    &raquo; <span>{{ page.title }}</span>
  {% endif %}
{% endif %}
